*/__pycache__/*
*.idea/*
*.pyc
django/public/*
#*.sqlite3

django/venv/*
*\.idea\*

*/.idea/*
*.xml
*.iml
*.name





# react
react/node_modules
react/.pnp
react/package-lock.json
react/yarn.lock
react/.DS_Store

react/npm-debug.log*
react/yarn-debug.log*
react/yarn-error.log*